body{
  width: 100%;
}

a:hover {
    color: #FFF;
}

a:active {
    color: #FFF;
}

.loader {
    animation: animate 7s infinite;
}

@keyframes animate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(720deg);
    }
  }
  
  .loader2 {
    animation: animate 3s infinite;
}

@keyframes animate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  